name: Android CI
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  build:
    runs-on: ubuntu-22.04
    env:
      SONATYPE_USERNAME: ${{secrets.SONATYPE_USERNAME}}
      SONATYPE_PASSWORD: ${{secrets.SONATYPE_PASSWORD}}
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Setup JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew clean assemble
    - name: Upload Artifact
      uses: actions/upload-artifact@v3
      with:
        name: simple
        path: app/build/outputs/apk/release/app-release.apk
    - name: Publish to Maven Center
      run: |
        echo "${{secrets.SIGNING_SECRET_KEY_RING_FILE}}" > ~/secring.gpg.b64
        base64 -d ~/secring.gpg.b64 > ~/secring.gpg
        ./gradlew publish -Psigning.keyId=${{secrets.SIGNING_KEY_ID}} -Psigning.password=${{secrets.SIGNING_PASSWORD}} -Psigning.secretKeyRingFile=$(echo ~/secring.gpg)